<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Background</h4>
  </div>
  <div class="user-content">
    <p>
      I'm currently a Postdoctoral Research Associate at Duke University, where I use computational modeling and statistical analyses to better understand the brain. My research deals with neural coding in sensory systems, and particularly how multiple types of sensory information can be integrated together to make decisions. Neural data, like many other types of data, is complex and ambiguous and benefits from both common machine learning techniques and completely novel statistical analyses. Feel free to look around the site to see how I've been using these techniques to answer scientific questions.
    </p>
    <p>
      I was raised in Red Lodge, MT (population 2,294) and graduated from Montana State University with a B.S. in Mechanical engineering and a minor in Mechatronics in 2014. An interest in robotic prosthetics led me to move across the country to North Carolina for graduate school at Duke. I graduated in 2020 with a PhD in Neurobiology working in the lab of <a href="https://people.duke.edu/~jmgroh/">Jennifer Groh</a>.
    </p>
  </div>
    <div class="user-content">
	  <div class="user-intro center-align">
        <h4 class="hidden">Extracurricular</h4>
      </div>
   <div class="row">
  	<div class="col s6">
	  <p>
      Sports have always been a big part of my life and continue to be my favorite pastime. In college I competed for 5 years on the Montana State Track and Field team as a decathlete (10 track and field events, spread over 2 days). I was nationally competetive in the decathlon and heptathlon, reaching the NCAA National Championships three times and the USATF Championships once, where I achieved my best finish with 2nd place in 2014. In addition to competing, I also volunteered as a coach for highschool students in Bozeman and across the state.
      </p>
	  <p>
	  Since graduating from undergrad I've continued to use sports as competetive outlet and to keep myself sane but have broadened my horizons considerably. I've dabbled in many new sports, but ultimate frisbee and softball have emerged as new favorites.
	  </p>
	  <p>
      Growing up in the Beartooths left me with a deep appreciation of the outdoors. I try to get outside as much as I can, and into the mountains if at all possible. I've been very fortunate in my life to always have access to high quality outdoor adventures and people to share them with.
      </p>
	</div>
	<div class="col s6">
	  <img src="{{site.baseurl}}/assets/res/sports1.png" id = "responsive-image">
	</div>
  </div>
  <div class="row">
  	<div class="col s12">
  		  <img src="{{site.baseurl}}/assets/res/outside1.png" id = "responsive-image">
    </div>
  </div>
  </div>
</div>